site_name: Authority cardgame
docs_dir: authority_docs

theme:
  features:
    - content.action.edit
    - content.action.view
    - navigation.footer
    - search.suggest
    - search.share
  # icons and logo
  logo: assets/Sword_and_Shield.png
  favicon: assets/Sword_and_Shield.png
  # TODO tell stefan to change these icons to something better suited
  icon:
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
